In [23]:
import pandas as pd

In [24]:
import flask

In [25]:
import gunicorn

In [26]:
import requests

In [27]:
import sqlite3

In [28]:
conn = sqlite3.connect('data/chinook.db')

In [29]:
data = pd.read_sql_query("SELECT (c.firstname || ' ' || c.lastname) as FullName, \
i.BillingCountry as Country, i.InvoiceDate, g.Name as Genre, it.Quantity, round(i.Total,2) as Total \
FROM customers as c \
LEFT JOIN invoices as i ON i.customerid = c.customerid \
LEFT JOIN invoice_items as it ON it.invoiceid = i.invoiceid \
LEFT JOIN tracks as t ON t.trackid = it.trackid \
LEFT JOIN genres as g ON g.genreid = t.genreid", conn, parse_dates= 'InvoiceDate')
data['Month'] = data['InvoiceDate'].dt.month_name()
monthorder = ['January','February','March','April','May','June','July','August','September','October','November','December']
data['Month'] = pd.Categorical(data['Month'],
                                         categories=monthorder,
                                         ordered=True)
data.head()

,FullName,Country,InvoiceDate,Genre,Quantity,Total,Month
0,Luís Gonçalves,Brazil,2010-03-11,Sci Fi & Fantasy,1,3.98,March
1,Luís Gonçalves,Brazil,2010-03-11,Sci Fi & Fantasy,1,3.98,March
2,Luís Gonçalves,Brazil,2010-06-13,Rock,1,3.96,June
3,Luís Gonçalves,Brazil,2010-06-13,Rock,1,3.96,June
4,Luís Gonçalves,Brazil,2010-06-13,Rock,1,3.96,June

In [30]:
genre_country = pd.pivot_table(data=data,index='Month',columns=['Country','Genre'],values='Total', aggfunc=sum)
genre_country = genre_country.unstack(level=0).dropna()
genre_country

Country         Genre               Month
Argentina       Alternative & Punk  March        27.72
                                    September     7.92
                                    November     44.55
                Easy Listening      March        27.72
                Jazz                January       3.96
                                                 ...
United Kingdom  Rock                June         91.08
                                    July          1.98
                                    August       27.72
                                    October      83.16
                World               October      13.86
Length: 573, dtype: float64

In [36]:
sales = pd.pivot_table(data=data,
                                   index='FullName',
                                   columns='Genre',
                                  values='Total',
                                  aggfunc=sum)
sales = sales.reset_index().melt(id_vars = 'FullName')
sales = sales[sales['value'].notna()]
month = data['Month'] == 'December'
sales = sales[month]
sales

                   FullName               Genre   value
16            Frank Ralston         Alternative   79.30
24         Isabelle Mercier         Alternative   67.44
92              Kathy Chase  Alternative & Punk   15.84
93          Ladislav Kovács  Alternative & Punk    9.90
94            Leonie Köhler  Alternative & Punk   17.82
95            Lucas Mancini  Alternative & Punk   93.06
96               Luis Rojas  Alternative & Punk   27.72
99             Manoj Pareek  Alternative & Punk   26.73
100             Marc Dubois  Alternative & Punk   16.83
152         Ladislav Kovács               Blues   11.88
153           Leonie Köhler               Blues   47.52
432         Fynn Zimmermann      Easy Listening   27.72
659          Edward Francis                Jazz   17.82
702        Stanisław Wójcik                Jazz   13.86
703            Steve Murray                Jazz    3.96
704        Terhi Hämäläinen                Jazz    3.96
705               Tim Goyer                Jazz   15.84
707            Wyatt Girard                Jazz   27.72
708          Aaron Mitchell               Latin  127.71
749             Marc Dubois               Latin   93.06
750            Mark Philips               Latin   45.54
751             Mark Taylor               Latin    3.96
752             Martha Silk               Latin   99.99
796             John Gordon               Metal   87.12
797          João Fernandes               Metal   13.86
873            Patrick Gray                 Pop   11.88
907             Helena Holý            R&B/Soul   17.82
1028             Jack Smith                Rock   71.28
1029      Jennifer Peterson                Rock  134.66
1030       Joakim Johansson                Rock   85.14
1031  Johannes Van der Berg                Rock  198.00
1032            John Gordon                Rock   21.78
1033         João Fernandes                Rock  127.77
1034          Julia Barnett                Rock  176.22
1035           Kara Nielsen                Rock  219.78
1036            Kathy Chase                Rock   73.26
1037        Ladislav Kovács                Rock   69.38
1038          Leonie Köhler                Rock  150.48
1039          Lucas Mancini                Rock  189.09
1040             Luis Rojas                Rock   53.46
1041         Luís Gonçalves                Rock   89.10
1321          Hugh O'Reilly            TV Shows  153.02
1322       Isabelle Mercier            TV Shows   16.86
1323             Jack Smith            TV Shows   10.91
1325       Joakim Johansson            TV Shows    6.94
1328         João Fernandes            TV Shows   10.91
1357         Aaron Mitchell               World   13.86
1360           Bjørn Hansen               World   15.86