In [17]:
import pandas as pd

In [18]:
import flask

In [19]:
import gunicorn

In [20]:
import requests

In [21]:
import sqlite3

In [43]:
conn = sqlite3.connect('data/chinook.db')

In [44]:
data = pd.read_sql_query("SELECT (c.firstname || ' ' || c.lastname) as FullName, \
i.BillingCountry as Country, i.InvoiceDate, g.Name as Genre, it.Quantity, i.Total \
FROM customers as c \
LEFT JOIN invoices as i ON i.customerid = c.customerid \
LEFT JOIN invoice_items as it ON it.invoiceid = i.invoiceid \
LEFT JOIN tracks as t ON t.trackid = it.trackid \
LEFT JOIN genres as g ON g.genreid = t.genreid", conn, parse_dates= 'InvoiceDate')
data['Month'] = data['InvoiceDate'].dt.month_name()
data.head()

,FullName,Country,InvoiceDate,Genre,Quantity,Total,Month
0,Luís Gonçalves,Brazil,2010-03-11,Sci Fi & Fantasy,1,3.98,March
1,Luís Gonçalves,Brazil,2010-03-11,Sci Fi & Fantasy,1,3.98,March
2,Luís Gonçalves,Brazil,2010-06-13,Rock,1,3.96,June
3,Luís Gonçalves,Brazil,2010-06-13,Rock,1,3.96,June
4,Luís Gonçalves,Brazil,2010-06-13,Rock,1,3.96,June

In [45]:
genre_country = data.groupby(['Country', 'Genre']).Total.sum()
genre_country

Country         Genre
Argentina       Alternative & Punk     80.19
                Easy Listening         27.72
                Jazz                    3.96
                Latin                  91.08
                Metal                  36.63
                                       ...
United Kingdom  Pop                    17.82
                R&B/Soul               27.72
                Reggae                 44.55
                Rock                  333.63
                World                  13.86
Name: Total, Length: 237, dtype: float64

In [ ]:
monthly_sales = data.pd_pivottable(data=data, 
                                   index='Country', 
                                   columns='')